@model Cadastros.Models.ProdutoDTO
@{
    ViewData["Title"] = "Editar produto";
}

<div class="col-12" id="pagina-produto">
    <div class="card">
        <div class="card-header">
            Editar produto
        </div>
        <div class="card-body">
            @using (Html.BeginForm("EditarProduto", "Produto", FormMethod.Post))
            {
                @Html.HiddenFor(model => Model.Codigo);
                <div class="mb-3">
                    <label class="form-label">Descrição</label>
                    <input type="text" class="form-control descricao-produto" asp-for="@Model.Descricao" placeholder="Insira a descrição aqui" required>
                </div>
                <div class="mb-3">
                    <label class="form-label">Peso liquído</label>
                    <input type="text" class="form-control pesoliquido-produto" asp-for="@Model.PesoLiquido" placeholder="Insira o peso liquído aqui" required>
                </div>
                <div class="mb-3">
                    <label class="form-label">Preço unitário</label>
                    <input type="text" class="form-control precounitario-produto" asp-for="@Model.PrecoUnitario" placeholder="Insira o preço unitário aqui" required>
                </div>

                <div class="mb-3">
                    <button id="edita-cliente" type="submit" class="btn btn-success">Salvar</button>
                </div>
            }
        </div>
    </div>
</div>

@section Scripts{
    <script src="~/minificados/js/produtos.min.js" asp-append-version="true"></script>
}